*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 3, 75);
    display:flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width:70%;
    font-family:sans-serif;
} 



div{
    border:1px solid whitesmoke;
    border-radius: 7px;
    background-color: white;
    padding:1rem;
}

.left{ 
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:400px;
}

.description{
    padding-top:20px;
    text-align: center;
    
}


.description h1{
    color:rgb(98, 34, 225);
}


.description img{
    text-align: center;
    width:50%;
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}


.description table{
    text-align: left;
}



table{
    border-spacing: 0.7rem;
}

td{
    color:rgb(3, 3, 75);
}

.personal-details-title{
    color:rgb(186, 177, 177);
    margin-bottom: 0px;
    padding-right:10px;
    padding-left:7px;
    padding-bottom:5px;
    font-size: 0.9rem;
}

.quote{
    display:flex;
    padding:20px;
    color:rgb(3, 3, 75);
}

.quotation-mark{
    color:rgb(98, 34, 225);
    font-size:50px;
}

.quote .text{
    padding:10px;
    line-height: 22px;;
}

.right{
    width:80%;
    color:rgb(3, 3, 75);
    margin-top:-1.5rem
}


.right div{
    margin-bottom:1rem;

}


.right .bio h2, .right .core-needs h2, .right .social-media h2, .platform h2{
    padding-bottom: 15px;
} 

.right h2{
    font-size: 1.2rem;
}

.icon{
    width:50px;
    padding-left:1rem;
}

.bullet-point{
    padding-right:10px;
    color:rgb(98, 34, 225);
}

.platform img{
    padding-left:30px;
    width:60px;
}

body{
    margin:2.5rem auto;
}

@media screen and (min-width : 768px) and (max-width:1024px) {
    .icon{
        width:30px;
    }

    h1{
        font-size:1.1rem;
    }
    
    .right h2{
        font-size: 0.9rem;
    }

    p, td{
        font-size:0.8rem;
    }

    .personal-details-title{
        font-size: 0.8rem;;
    }
}

@media screen and (max-width:426px) {
    body{
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;

    }
    
    .left{
        width:280px;
        

    }

    .right{
        width:280px;
        margin-top: 30px;
    }
    .bio{
        width:100%;
    }

    .icon{
        width:30px;
    }

}